.page-not-found {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
}

.page-not-found .title {
    font-size: 10em;
    color: rgba(0, 0, 0, 1);
}

.page-not-found .content {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.3);
}