.page-not-found {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.page-not-found img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.page-not-found .title {
    font-size: 10em;
    color: rgba(255, 255, 255, 1);
}

.page-not-found .content {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.2);
}