/* ****************************************************************************************************
            TIMELINE
**************************************************************************************************** */

* {}

.event {
    display: inline-block;
}

.timeline {
    margin-top: 20vh;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 100px;
}

.timeline .line {
    width: 8em;
    height: 0.5em;
    background-color: #444;
    display: inline-block;
    margin-bottom: 0.745em;
    position: relative;
}

.timeline .line.first {
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(0, 0, 0, 1))); */
    background-image: -webkit-gradient(linear, left bottom, right bottom, from(rgba(255, 255, 255, 1)), to(rgba(0, 0, 0, 1)));
}

.timeline .line.last {
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 1))); */
    background-image: -webkit-gradient(linear, left bottom, right bottom, from(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 1)));
}

.timeline .point {
    width: 1.2em;
    height: 1.2em;
    background-color: #fff;
    border: 0.4em solid red;
    border-radius: 100%;
    position: relative;
    display: inline-block;
}

.timeline .title {
    margin: 0;
    display: inline;
    border: 1px solid #ccc;
    font-weight: bold;
    padding: 0.5em;
    background-color: #eee;
    position: absolute;
    bottom: 35px;
    left: -60px;
    right: -60px;
}

.timeline .date {
    margin: 0;
    color: red;
    display: inline;
    font-size: 0.8em;
}

.timeline .info {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    border: 1px solid red;
}