/* ****************************************************************************************************
            NAVBAR
**************************************************************************************************** */

.navbar {
    background-color: rgb(20, 20, 20, 1);
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.navbar .logo {
    float: left;
    color: #fff;
    margin: 0.5em 0 0 0;
    padding: 0;
    text-decoration: none;
}

.navbar .list {
    float: right;
}

.navbar .list .item {
    color: #fff;
    padding: 1em;
    margin: 0;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0.08em;
}

.navbar .list .item:link,
.navbar .list .item:visited,
.navbar .list .item:active {
    color: #fff;
    text-decoration: none;
}

.navbar .list .item:hover {
    background-color: #fff;
    color: #000;
}
