@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ****************************************************************************************************
            NAVBAR
**************************************************************************************************** */

.navbar {
    background-color: rgb(20, 20, 20, 0.8);
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    float: left;
    color: #fff;
    margin: 0.5em 0 0 0;
    padding: 0;
}

.navbar .list {
    float: right;
}

.navbar .list .item {
    color: #fff;
    padding: 1em 0 1em 0;
    margin: 0;
    margin-left: 3em;
    display: inline-block;
    font-weight: 500;
}

.navbar .list .item:link,
.navbar .list .item:visited,
.navbar .list .item:active {
    color: #fff;
    text-decoration: none;
}

.navbar .list .item:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.navbar .list .item.active {
    color: #ff8500;
    border-bottom: 3px solid #ff8500;
}

/* ****************************************************************************************************
            HERO
**************************************************************************************************** */

.hero {
    width: 100%;
    height: 100vh;
    background: url("../images/hero1.jpg");
    background-repeat: no-repeat !important;
    background-position: center !important;
    clear: both;
    text-align: center;
    position: relative;
}

.darker {
    width: 100%;
    height: 100vh;
    /* background: url("../images/black.jpg") center no-repeat; */
    /* background-size: cover; */
    clear: both;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero .title {
    font-weight: bolder;
    font-size: 6em;
    color: #fff;
    padding-top: 30vh;
    margin: 0;
    display: block;
    margin-bottom: 10vh;
}

.hero .subtitle {
    font-weight: bolder;
    font-size: 2em;
    color: #fff;
}

.bullets {
    margin: 0 auto;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.bullet {
    width: 0.65em;
    height:0.65em;
    display: inline-block;
    border-radius: 100%;
    border: 0.18em solid #fff;
    margin: 0 0.2em;
}

.bullet.active {
    background-color: #fff;
}

/* ****************************************************************************************************
            FORM
**************************************************************************************************** */

.main-form {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #fff;
    margin-top: 200px;
    margin-right: 150px;
    float: right;
    padding: 2em;
    border-radius: 5px;
    z-index: 100;
}

.form-title {
    display: block;
    margin: 0 auto 1em auto;
}

.search-field {
    border: 1px solid #888;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    display: block;
    margin: 0 auto 1em auto;
    width: 250px;
}

.transportation {
    text-align: left;
}

select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }

#calculate-btn {
    padding: 0.5em 2em;
    outline: none;
    border-radius: 40px;
    background: #fff;
    color: #1ECD97;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    font-weight: bold;
    display: block;
    margin: 2em auto 0 auto;
}

#calculate-btn:hover {
    background-color: #1ECD97;
    color: #fff;
}